/* Стилі для карток в секції "Види птахів" */
.birds div {
    border: 2px solid #333; /* Обведення карток */
}

/* Стилі для заголовка в секції "Види птахів" */
.birds h2 {
    background-color: #fff; /* Фон заголовка */
    border-radius: 50%; /* Заокруглені кути заголовка */
    border: 2px solid #333; /* Обведення заголовка */
    text-align: center; /* Центруємо текст */
}

/* Стилі для кнопок в секції "Види птахів" */
.birds button {
    background-color: #333; /* Колір фону кнопки */
    border-radius: 5px; /* Заокруглені кути кнопки */
}

.birds a{
    text-decoration: none; /* Видаляємо підкреслення */
    color: darkgoldenrod; /* Колір тексту */
}